@using System.Globalization
@using DndMapBlazor.Helper
@using DndMapBlazor.Models
@using DndMapBlazor.Models.Enums
@using DndMapBlazor.Models.WorldBuilderModels

<div style="width:100%; margin:auto">
    @if (!IsTopLevel)
    {
        <button @onclick="x => ChangeMapEntityHandler(ThisZone.ParentZone)" class="btn btn-danger backButton" style="z-index:10;position:absolute;top:0px;left:5px;"></button>
    }

    @if (loading)
    {
        <h2>Loading</h2>
    }
    else
    {

        @if (ThisZone!.mapImage == null)
        {
            <div class="w-100;" style="text-align:center;margin-top:10px">
                <InputFile OnChange="LoadFiles" />
            </div>
        }
        else
        {
            <div class="row" style="padding:0px;margin:0px; width:100%">
                @* EditorMenu *@
                <div class="col-4" style="border:2px solid black; padding:5px; position:relative;">
                    <div class="row text-center fw-bolder text-decoration-underline" style="padding-top:10px">
                        <h2>Zone Menu</h2>
                    </div>

                    <div class="row" style="margin-top:40px">
                        <b>Zones</b>
                        <div class="row multibuttons">
                            <div class="col">
                                <button class="btn btn-outline-success fw-bold" @onclick="AddZone"> Add zone </button>
                            </div>
                            <div class="col">
                                <button class="btn btn-outline-success fw-bold" @onclick="AddField"> Add field </button>
                            </div>
                        </div>

                        @if (SelectedMapEntity != null)
                        {
                            <button class="btn btn-outline-danger fw-bold" style="border-width:2px; max-width:300px; margin:auto; margin-bottom:20px" @onclick="StopEditing"> Finish Editing</button>
                            <button class="btn btn-outline-warning fw-bold" style="border-width:2px; max-width:300px; margin:auto; margin-bottom:20px" @onclick="x => {SelectedMapEntity.RemoveWallpoint(-1);}" disabled="@(SelectedMapEntity.points.Count == 0)"> Remove last point </button>
                        }
                        <div class="row" style="margin:auto;width:100%">
                            @foreach (var entity in ThisZone.MapEntities)
                            {
                                <div class="col-md-12 col-lg-6 col-xl-4 p-0">
                                    <div @onclick="x => SelectedMapEntity = entity" class="ZoneMenuItem @(entity is Zone ? "ZoneMenuItemZone" : "ZoneMenuItemField")" style="padding:5px;position:relative; @(entity == SelectedMapEntity ? "background-color: rgba(55, 255, 255, 0.2); box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.8);" : "");">
                                        @if (entity.points.Count > 0)
                                        {
                                            <svg width="100%" height="100%" viewBox="-1 -1 101 101">
                                                <polyline stroke-linejoin="round" width="100" height="100" points="@entity.points.Select(p => ((p.x/entity.width)*100).ToString(System.Globalization.CultureInfo.InvariantCulture) + "," + ((p.y/entity.height)*100).ToString(System.Globalization.CultureInfo.InvariantCulture)+"").Aggregate((x,y) => x + " " + y) @((entity.points[0].x/entity.width)*100 + "," + (entity.points[0].y/entity.height)*100)" stroke="black" stroke-width="1" fill="none" />
                                            </svg>
                                        }
                                        <div class="MenuItemNameText" style="">
                                            <input type="text" @bind-value="entity.name"/>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                @* Map image *@
                <div class="col-8" style="padding:0px;">
                    <div class="w-100;" style="text-align:center;">
                        @* Draw entities*@
                        @if (imageWidth != 0 && imageHeight != 0)
                        {
                            <div style="width:0px; height:0px;position:relative">
                                @foreach (var entity in ThisZone.MapEntities)
                                {
                                    <div class="mapEntity" style="position:absolute;left:@(entity.x*imageWidth)px;top:@(entity.y*imageHeight)px;" @onclick="x => ChangeMapEntityHandler(entity)">
                                        <svg stroke-linejoin="round" width="@(entity.width*imageWidth)" height="@(entity.height*imageHeight)">
                                            @if (entity.points.Count > 0)
                                            {
                                                <polyline stroke-linejoin="round" points="@entity.points.Select(p => p.x*imageWidth + "," + p.y*imageHeight).Aggregate((x,y) => x + " " + y) @(entity.points[0].x*imageWidth + "," + entity.points[0].y*imageHeight)" stroke="@(SelectedMapEntity == entity ? "white" : "black")" stroke-width="1" fill="none" />

                                                @if (SelectedMapEntity != null)
                                                {
                                                    @for (int i = 0; i < entity.points.Count; i++)
                                                    {
                                                        <circle stroke="@(i == entity.points.Count-1 && entity == SelectedMapEntity ? "yellow" : "gray")" stroke-width="2" r="5" cx="@(entity.points[i].x*imageWidth)" cy="@(entity.points[i].y*imageHeight)"></circle>
                                                    }
                                                }
                                            }
                                        </svg>
                                    </div>
                                }
                            </div>
                        }

                        @if (SelectedMapEntity != null)
                        {
                            <div style="width:0px;height:0px; position:relative">
                                <div @onclick="AddPointHandler" style="width:@(imageWidth)px;height:@(imageHeight)px;background-color:rgba(255,255,255,0.1)">
                                </div>
                            </div>
                        }

                        <img id="ZoneMap" class="w-100" src="data:image;base64, @ThisZone.mapImage" />
                    </div>
                </div>
            </div>
        }
    }
</div>