<div class="row">
    <button @onclick="StartGame" class="btn btn-outline-primary" style="margin: auto; margin-bottom:10px; width:max-content">Start session</button>
</div>

<div style="background-image:url(https://www.transparenttextures.com/patterns/textured-paper.png);background-size:400px; background-color:black;border-radius:10px;">
    <div style="border:5px solid black; border-radius:10px; height:80vh; padding:20px; overflow-x:auto; display:flex; width:100%; background-color:rgba(115,82,63,0.8); ">
        <div style="display:flex; width:90vw;">

            @* NewTab *@
            <div class="row" style="position:relative">
                <button @onclick="OpenUpPlayingTab" class="btn btn-primary" style="margin: auto; margin-bottom:10px; width:max-content">Open player tab</button>
            </div>

            @* Remove true *@
            <div class="row" style="@(!TabOpened && false ? "pointer-events: none; opacity: 0.4;" : ""); height:50px;" >
                <input type="number" min="0" @bind-value="sessionGameMetaData!.RealWorldScaling" />
                <button @onclick="SaveMesurmentUnit" class="btn btn-primary">Set length</button>
            </div>

            @* Camara *@
            <input type="checkbox" value="@sessionGameMetaData.UseCamara" @onchange="x => {sessionGameMetaData.UseCamara = (bool)x.Value; CamaraModalOpen = true;} " />

            <span> give dimenstion X</span>
            <div class="row" style="@(!TabOpened ? "pointer-events: none; opacity: 0.4;" : ""); height:50px;">
                <input type="number" min="0" @bind-value="sessionGameMetaData.CamaraRealWorldWidth" />
            </div>

            <span> give dimenstion Y</span>
            <div class="row" style="@(!TabOpened ? "pointer-events: none; opacity: 0.4;" : ""); height:50px;">
                <input type="number" min="0" @bind-value="sessionGameMetaData.CamaraRealWorldHeight" />
            </div>

        </div>
    </div>
</div>

<div id="CamaraModal" class="modal" style="display:@(CamaraModalOpen ? "block" : "none" )">
  <div class="modal-content">
        <div>
            <div style="display:flex">
                <video id="videoFeed" width="320" height="240" /><canvas class="d-none" id="currentFrame" width="320" height="240" /><br />
                <img id="img" style="width:320px" src="@Img" />
            </div>
            <input type="range" min="-1" max="1" step="0.1" @bind-value="skewX" /> <br />
            <input type="range" min="-1" max="1" step="0.1" @bind-value="skewY" /><br />
            <input type="range" min="0" max="2" step="0.1" @bind-value="scalX" /><br />
            <input type="range" min="0" max="2" step="0.1" @bind-value="scalY" /><br />

            <button class="btn btn-primary mb-3" @onclick="CaptureFrame">Capture Frame</button> <br />
            <button class="btn btn-primary mb-3" @onclick="WarpImg">Warp</button> <br />
        </div>
    <button @onclick="x => CamaraModalOpen = false"> Close </button>
  </div>
</div>